%h2 New Inspiration

.form-container
  - form_for :inspiration, @inspiration, :url => inspirations_url, :html => {:multipart => true} do |f|
    .main-container
      %label{ :for => 'title'}
        Title
        = f.text_field :title
        %label{ :for => 'description'}
          Description
        = f.text_area :description, "class" => 'inspiration-box'
        = hidden_field_tag "proposal_id", params[:proposal_id]
        %label{ :for => 'inspiration_image'}
          Upload an Image
        = file_field_tag "inspiration_image"
        = f.submit 'Submit'
