- form_for :comment, Comment.new, :url => comments_path do |f|
  = f.text_area :comment
  = hidden_field_tag commentable_field, commentable_id
  = hidden_field_tag :refurl, refurl
  = hidden_field_tag :commentable_type, commentable_type
  = submit_tag "Post Comment"
