.comment-section
- form_for :comment, Comment.new, :url => comments_path do |f|
  #comment-form.hidden{:style => "display:none"}
    = f.text_area :comment
    = hidden_field_tag commentable_field, commentable_id
    = hidden_field_tag :refurl, refurl
    = hidden_field_tag :commentable_type, commentable_type
    %p
      = submit_tag "Post Comment"

= link_to "Add Comment", "#", :id => "link-to-show-comment"
:javascript
  jQuery(document).ready(function()
  {
    var comment_field = jQuery("#comment-form");
    jQuery("#link-to-show-comment").click(function()
    {
      jQuery("#content").height( jQuery("#content").height() + jQuery("#comment-form").height() );
      comment_field.show('slow');
      jQuery(this).hide(); // hide the link that shows the comment form, as it's no longer needed
      return false;
    });
  });
