%h1 New Comment

.form-container
  - form_for :comment, @comment, :url => comments_url do |f|
    .main-container
      = f.error_messages
      = f.label :comment
      = f.text_area :comment
      = hidden_field_tag "project_id", params[:project_id]
      = f.submit "Post"
