.project-container
  .main-container
    .details
      %h2= @project.to_s
      .creator
      = show_gravatar_for(@project_creator_username)
      Lead Designer:
      .updated
        = @project.updated_at
      %textarea.description-container{ :readonly => "readonly" }
        = @project.description
      
      = link_to "Edit", { :controller => "projects", :action => "edit" }
      
