#project-nav
  .project-container
    .main-container
      .details
        %h4= @project.to_s
        - if @project.project_image
          = image_tag @project.project_image.url
        .creator
          = show_gravatar_for(@project.creator)
          %dl
            %dt Lead Designer:
            %dd= link_to @project.creator.to_s, user_path(@project.creator.id)
            Collaborators:
            /%dd= link_to @proposal.creator.to_s, user_path(@proposal.creator.id)
        .updated
          = @project.updated_at
        %textarea.description-container{ :readonly => "readonly" }
          = @project.description
      
        = link_to "Edit", { :controller => "projects", :action => "edit" }
