.project-container
  .main-container
    .details
      %h2= @project.to_s
      - if @project.highest_voted_proposal
        = image_tag @project.highest_voted_proposal.proposal_images.first.image_file.url
      .creator
        = show_gravatar_for(@project.creator)
      Lead Designer:
      .updated
        = @project.updated_at
      %textarea.description-container{ :readonly => "readonly" }
        = @project.description
      
      = link_to "Edit", { :controller => "projects", :action => "edit" }
