%h2 Project List 
%ul.new-project
  = link_to "Start New Project", { :controller => "projects", :action => "new" }
= "(#{@sort_message})" if @sort_message
.focus-cont.form-container.search-form
  -form_for @search do |f|
    = f.label :title_like, "Title"
    = f. text_field :title_like
    = f.submit "Submit"
%ul.project-lister
  = link_to "Newest Projects", projects_path(:sort_by => "newest")
  = link_to "Oldest Projects", projects_path(:sort_by => "oldest")
  %br      
  %br
  - @projects.each do |project|
    %li.project
      .link
      = link_to(project.to_s, project_path(project))
      .image
        = link_to(image_tag(project.project_image.url), project_path(project.id)) if project.project_image
= will_paginate @projects
%br
