Projects:
%br
= link_to "My Projects", root_path
%br
= link_to "List All Projects", projects_path
= render :partial => "projects/details", :locals => { :project => @project }
%br
    
  %h3 Proposals
  - @project.proposals.each do |proposal|
    = render :partial => "proposals/proposal", :locals => { :proposal => proposal }
  %br
    %br
  = link_to 'Create New Proposal', new_proposal_path(:project_id => @project.id)
