= render :partial => "projects/details", :locals => { :project => @project }
%br
    
  %h3 Proposals
  - @project.proposals.each do |proposal|
    = render :partial => "proposals/proposal", :locals => { :proposal => proposal }
  %br
    %br
  = link_to 'Create New Proposal', new_proposal_path(:project_id => @project.id)
  
  %h3 Inspirations
  - @project.inspirations.each do |inspiration|
    %h2= inspiration.to_s
    = render :partial => "inspirations/inspiration", :locals => { :inspiration => inspiration }
  %br
    %br
  = link_to 'Create New Inspiration', new_inspiration_path(:project_id => @project.id)
    
