= render :partial => "votes/voteable", :locals => { :voteable => proposal, :refurl => project_path(proposal.project) }
.proposal-container
  .main-container
    - proposal.proposal_images.each do |image|
      = image_tag image.image_file.url
    %textarea.content-container{ :readonly => "readonly" }
      = proposal.content
    = link_to "Edit", edit_proposal_path(proposal)
    = link_to "Delete", proposal_path(proposal), :confirm => "Are you sure?", :method => :delete 
    %br   

    %h3 Comments
    #comments
      - proposal.comments.each do |comment|
        = render :partial => "comments/comment", :locals => { :comment => comment }
      = render :partial => "comments/comment_form", :locals => { :commentable_id => proposal.id, :commentable_field => "proposal_id", :commentable_type => "Proposal", :refurl => project_path(proposal.project) }
.clear
