- include_comments = true unless local_assigns.has_key?(:include_comments)

= render :partial => "votes/voteable", :locals => { :voteable => proposal, :refurl => project_path(proposal.project) }
.proposal-container
  .main-container
    %h2= proposal.to_s
    - proposal.proposal_images.each do |image|
      = link_to image_tag(image.image_file.url), proposal_path(proposal.id)
    %textarea.content-container{ :readonly => "readonly" }
      = proposal.content
    %br
    Sources:
    %br
    %br
    -proposal.file_attachments.each do |file_attachment|
      = link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
      %br
      %br
    = link_to "Add File Attachment", new_file_attachment_path( :proposal_id => proposal.id )
    %br   
    - if include_comments
      %h3 Comments
      #comments
        - proposal.comments.each do |comment|
          = render :partial => "comments/comment", :locals => { :comment => comment }
        = render :partial => "comments/comment_form", :locals => { :commentable_id => proposal.id, :commentable_field => "proposal_id", :commentable_type => "Proposal", :refurl => project_path(proposal.project) }
.clear
