%h1 New Proposal

.form-container
  - form_for :proposal, @proposal, :url => proposals_url, :html => {:multipart => true} do |f|
    .main-container
      = f.error_messages
      = f.label :content
      = f.text_area :content
      = hidden_field_tag "project_id", params[:project_id]
      %label{ :for => 'proposal_image'}
        Upload an Image
      = file_field_tag "proposal_image"
      = f.submit "Post"
